.settings/*

# app folder

app/etc/local.xml

# media folder

media/import/
media/catalog/product/
media/catalog/category/
media/catalog/brand/resized/
media/css/
media/js/
media/tmp/

feeds/

pkginfo/
var/

yogee_feeds/

php.ini.sample

.DS_Store

.buildpath

media/wysiwyg/.thumbs/
.project
app/etc/local.xml

ygscript/update_prices.php
