.settings/*

# app folder

app/etc/local.xml

downloader/

# media folder

media/import/
media/catalog/product/
media/catalog/category/
media/catalog/brand/resized/
media/css/
media/js/
media/tmp/

feeds/

pkginfo/
var/

yogee_feeds/


LICENSE_AFL.txt
LICENSE.html
LICENSE.txt


php.ini.sample
RELEASE_NOTES.txt

.DS_Store

.buildpath

media/wysiwyg/.thumbs/
.project
app/etc/local.xml

ygscript/update_prices.php
