<?xml version="1.0"?>
<config>
    <modules>
        <Sniip_Sniipsync>
            <version>1.0.9.8</version>
        </Sniip_Sniipsync>
    </modules>
    <global>
        <models>
            <sniipsync>
                <class>Sniip_Sniipsync_Model</class>
            </sniipsync>
            <sniipsync_mysql4>
                <class>Sniip_Sniipsync_Model_Mysql4</class>
                <entities>
                </entities>
            </sniipsync_mysql4>
        </models>
        <resources>
            <sniipsync_setup>
                <setup>
                    <module>Sniip_Sniipsync</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sniipsync_setup>
            <sniipsync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sniipsync_write>
            <sniipsync_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sniipsync_read>
        </resources>
        <blocks>
            <sniipsync>
                <class>Sniip_Sniipsync_Block</class>
            </sniipsync>
        </blocks>
        <helpers>
            <sniipsync>
                <class>Sniip_Sniipsync_Helper</class>
            </sniipsync>
        </helpers>
    </global>
</config>
