<?xml version="1.0"?>
<config>
	<modules>
		<Sniip_Sniipsync>
			<version>1.0.0</version>
		</Sniip_Sniipsync>
	</modules>
	<global>
		<blocks>
			<sniipsync>
				<class>Sniip_Sniipsync_Block</class>
			</sniipsync>
		</blocks>
		<helpers>
			<sniipsync>
				<class>Sniip_Sniipsync_Helper</class>
			</sniipsync>
		</helpers>
		<models>
			<sniipsync>
				<class>Sniip_Sniipsync_Model</class>
				<resourceModel>sniipsync_resource</resourceModel>
			</sniipsync>
		</models>
		<resources>
			<sniipsync_setup>
				<setup>
					<module>Sniip_Sniipsync</module>
				</setup>
			</sniipsync_setup>
			<sniipsync_write>
				<connection>
					<use>core_write</use>
				</connection> 
			</sniipsync_write>
			<sniipsync_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sniipsync_read>
		</resources>
	</global>
</config>